* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: hsl(30, 38%, 92%);
    --bg-card: hsl(0, 0%, 100%);
    --text-primary: hsl(212, 21%, 14%);
    --text-secondary: hsl(228, 12%, 48%);
    --bg-button: hsl(158, 36%, 37%);
    --color-active: hsl(158, 42%, 18%);
    
    --ff-fraunces: 'Fraunces';

    --fw-montserrat-500: 500;
    --fw-montserrat-700: 700;
    --fw-fraunces-700: 700;

}

html, body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background-color: var(--bg-color);
    color: var(--text-primary);
    width: 100%;;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 .5rem;
}

@media (min-width: 768px){

}

.card {
    background-color: var(--bg-card);
    border-radius: .7rem;
}

.card__image img {
    width: 100%;
    border-radius: .7rem .7rem 0 0;
}

.card__content {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card__category {
    text-transform: uppercase;
    color: var(--text-secondary);
    letter-spacing: 5px;
}

.card__title {
    font-family: var(--ff-fraunces);
    font-weight: var(--fw-fraunces-700);
}

.card__description {
    font-weight: var(--fw-montserrat-500);
    color: var(--text-secondary);
}

.card__price {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.card__current-price {
    color: var(--bg-button);
    font-family: var(--ff-fraunces);
    font-weight: var(--fw-fraunces-700);
    font-size: 2rem;
}

.card__original-price {
    color: var(--text-secondary);
    text-decoration: line-through
}

.card__button {
    border: none;
    background-color: var(--bg-button);
    padding: 1rem;
    border-radius: .5rem;
    transition: background-color 0.3s ease-in;
}

.card__button > a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--fw-montserrat-700);
    color: var(--bg-card);
    text-decoration: none;
    gap: .7rem;
    width: 100%;
}

.card__button:active,
.card__button:hover {
    background-color: var(--color-active);
    transition: background-color 0.3s ease;
}

@media (min-width: 768px) {
    .card {
        display: flex;
        height: 450px;
        max-width: 600px;
    }

    .card__image img {
        height: 100%;
        border-radius: .7rem 0 0 .7rem;
        object-fit: cover;
        
    }

    .card__content {
        width: 50%;
        justify-content: space-around;
    }
}